.box-message{
    width: 400px;
    height: 37px;
    top: 10px;
    bottom: 10px;
    position: absolute;
    color: white;
    background-color: #424242;
    border-radius: 5px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.alert-success{
    background-color: #8bc34a;
}

.alert-danger{
    background-color: #ec407a;
}

.alert{
    top: 8px;
    position: absolute;
    left: 15px;

}