<div class="content">
    <mat-card>
        <mat-list>  
            <mat-card-title>
                <div >
                    <div style="    width: 50%; float: left;" class="" mat-subheader>Usuarios</div>
                    <div style="width: 50%;" mat-subheader>

                        <form  class="form-search">
                            <mat-form-field class="form-search">
                                <input matInput 
                                        name="search" 
                                        [(ngModel)]="queryString" 
                                        placeholder="Pesquisar" 
                                        type="text">
                                    <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list-item *ngFor="let user of users | UserPipe: queryString" >
                    <img matListAvatar src="../../assets/img/user.svg" alt="...">
                    <h4 mat-line>{{user.fullname}} | <!-- <small>{{user.email}}</small> --></h4>
                    <p mat-line *ngIf="user.isSuperUser">Admin</p>
                    <p mat-line *ngIf="!user.isSuperUser">Usuário Comum</p>
                    <button *ngIf="isSuperUser"mat-icon-button 
                            color="accent"
                            (click)="[delete(user.id)]" type="">
                        <mat-icon mat-list-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
            </mat-card-content>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card>
</div>
