<div class="content">
    <mat-card>
        <mat-card-title> Novo Usuário</mat-card-title>
        <mat-card-content>
            <div class="field-column  content">
            
                <mat-form-field fxFlex>
                    <input matInput placeholder="Usuário">
                </mat-form-field>
            
                <mat-form-field fxFlex>
                    <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hideSenha = !hideSenha">{{hideSenha ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
            
                <mat-form-field fxFlex>
                    <input matInput placeholder="Confirma Senha" [type]="hideConfirmaSenha ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hideConfirmaSenha = !hideConfirmaSenha">{{hideConfirmaSenha ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                
                <mat-checkbox>Administrador!</mat-checkbox>

                
                <div fxLayoutAlign="center">
                    <button mat-raised-button color="primary">
                        SALVAR
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>
 