

.login {
  width: 500px;
  top: 200px;;
}

.login-bg{

  background: url('../../assets/bg3.jpg');
  background-size: 100%;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
}
