<mat-toolbar *ngIf="showMenu" class="mat-elevation-z6" color="primary">
    <a class="docs-button mat-button logo-sidenav" 
       mat-button="" 
       routerlink="/home" 
       tabindex="0" 
       aria-disabled="false" 
       href="/">
        <span class="mat-button-wrapper">
            <img App="angular" class="logo-sidenav" src="../../assets/fuse.svg">
            <span>Login App</span>
        </span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
    <span class="example-fill-remaining-space"></span>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-menu #appMenu="matMenu">
        <button  [routerLink]="['/login']"
                 mat-menu-item> 
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
    
    <button class="position-icon-more" mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon >more_vert</mat-icon>
    </button>
  
</mat-toolbar>

