@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.position-icon-more {
    float: right;
    right: 10px;
    position: absolute;
    display: block;
}

.fab-add{
    right: 60px;
    bottom: 40px;
    position: fixed ;
}

.mat-card {
    padding-bottom: 16 !important;
}

