<div fxFlex fxFlex="grow" class="register-bg">
    <div class="content" fxLayoutAlign="center">
        <mat-card class="register mat-elevation-z6">
            <div class="logo-place" fxLayoutAlign="center">
                <img class="logo" mat-card-image src="../../assets/fuse.svg" alt="Photo of a Shiba Inu">
            </div>
            <mat-card-title fxLayoutAlign="center">REGISTRAR</mat-card-title>
            <mat-card-content>
                <form name="form" 
                    (ngSubmit)="registerForm.form.valid && register()" 
                    #registerForm="ngForm" 
                    novalidate>
                    <div class="field-column  content">
                        <mat-form-field fxFlex [ngClass]="{ 'has-error': registerForm.submitted && !fullname.valid }">
                            <input matInput
                                placeholder="Nome Completo" 
                                type="text"
                                name="fullname" 
                                [(ngModel)]="user.fullname" 
                                #fullname="ngModel" 
                                required>
                        </mat-form-field>
                        <div *ngIf="registerForm.submitted && !fullname.valid" class="message">Nome Completo é obrigatório</div>

                        <mat-form-field fxFlex [ngClass]="{ 'has-error': registerForm.submitted && !username.valid }">
                            <input matInput 
                                name="username"
                                placeholder="Nome de Usuário" 
                                [(ngModel)]="user.username"
                                #username="ngModel"
                                type="text"
                                required>
                        </mat-form-field>
                        <div *ngIf="registerForm.submitted && !username.valid" class="message">Nome de Usuário é obrigatório</div>

                        <mat-form-field fxFlex class="form-group" [ngClass]="{ 'has-error': registerForm.submitted && !password.valid }">
                            <input matInput
                                [type]="hide ? 'password' : 'text'"
                                class="form-control" 
                                placeholder="Senha"
                                name="password" 
                                [(ngModel)]="user.password" 
                                #password="ngModel" 
                                validateEqual="confirmPassword" 
                                reverse="true"
                                required />
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                        <div  class="message" [hidden]="password.valid || (password.pristine && !registerForm.submitted)" class="message">
                            Senha é obrigatória
                        </div>

                        <mat-form-field fxFlex [ngClass]="{ 'has-error': registerForm.submitted && !confirmPassword.valid }">
                            <input matInput 
                                   [type]="hide ? 'password' : 'text'"
                                   class="form-control" 
                                   name="confirmPassword" 
                                   placeholder="Confirmar Senha"
                                   [ngModel]="user.confirmPassword" 
                                   required 
                                   validateEqual="password"
                                   reverse="false" 
                                   #confirmPassword="ngModel">
                                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                        <div [hidden]="confirmPassword.valid || (confirmPassword.pristine && !registerForm.submitted)" 
                                class="message">
                            Senhas não conferem
                        </div> 

                        <div fxLayoutAlign="center">
                            <button [disabled]="loading"
                                    class="btn-large" 
                                    mat-raised-button 
                                    color="primary">REGISTRAR</button>
                        </div>

                        <div fxLayoutAlign="center">
                            <button [routerLink]="['/login']"
                                    class="btn-large"
                                    mat-button 
                                    color="primary">Cancelar</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>


       
  
       